:root {
  --primary-color: #0155c6;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --bg-common: #f4f6f8;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-common);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-size-common {
  font-size: 16px;
  font-weight: 500;
}
.icon-common {
  font-size: 20px;
  cursor: pointer;
}
.cart {
  position: relative;
}
.num-cart {
  position: absolute;
  background-color: #ff5630;
  border-radius: 50%;
  padding: 2px;
  top: -10px;
  right: -8px;
  color: #ffff;
  font-size: 10px;
}
.ant-divider {
  margin: 12px 0;
}
